<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{message}}
        <input type="button" v-on:click="reverseMsg" value="reverse text">
        

    </div>
    <div id="app-7">         
        <input type="button" v-on:click="addTo" value="add">
        <input type="button" v-on:click="removefrom" value="remove">
        <input type="text" v-model="newtodo" id="">
        <ol>
            
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: "Hello Prajwal"
        },
        methods:{
            reverseMsg(){
                this.message=this.message.split('').reverse().join('')
            }
        }
    })
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })

    var app7 = new Vue({
        el: '#app-7',
        data: {
            newtodo:"",
            groceryList: [
                {  text: 'Vegetables' },
                { text: 'Cheese' },
                {  text: 'Whatever else humans are supposed to eat' }
            ]
        },
        methods:{
            addTo(){
                this.groceryList.push({
                   text: this.newtodo 
                })
            },
            removefrom(){
                this.groceryList.pop()
            }
        }
    })
</script>

</html>